@font-face {
	font-family: gobold;
	src: url(fonts/gobold_thin-webfont.woff);
}

@font-face {
	font-family: malgun;
	src: url(fonts/malgun.ttf);
}

body {
	font-family: "malgun";
	font-size: 13px;
}

figure {
	display: flex;
	margin: 0;
}

.button {
	display: inline-block;
	padding: 12px 20px;
	margin: 0 30px;
	border: 0;
	border-radius: 30px;
	background-color: #e6007e;
	color: white;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

/* <!-- Debut NavBar --> */

.NavBar {
	width: 100%;
	display: flex;
	align-items: center;
	color: black;
	vertical-align: middle;
	height: 30px;
	padding: 20px;
}

.NavBar-Item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.Item-Container {
	padding:0 30px;
	border-right:solid;
	border-right-color:#ebebeb ;
	border-width: 3px ;
}

.fa-stack {
	padding: 2px 7px;
	border-radius: 3px;
}

/* <!-- Fin NavBar --> */

.Img-Baniere {
	width: 100%;
}

.MainContainer {
	display: flex;
	justify-content: space-between;
	margin: 50px 200px;
	border-right-color: #ebebeb;
}

/* <!-- Début du Container-Left --> */

.Container-Left {
	width: 60%;
	padding-right: 70px;
	border-right: solid;
	border-right-color:#ebebeb ;
	border-width: 3px ;
}

.Card-Event {
	border: solid;
	border-color: #ebebeb;
	border-left-width : 5px;
	border-left-color: #002b6c;
	padding: 5px 15px;
	margin-bottom: 10px;
}

.Card-Title {
   font-size: 18px;
   font-weight: bold;
   color: #002b6c ;
}

#global {
	overflow:auto;
 }

li {
	margin-bottom : 12px;
 }
 
 .li-title {
	font-weight: bold;
	color: #002b6c;
	margin: 0;
 }

 .li-subtitle {
	font-style: italic;
 }
 
 #gauche {
	float:left;
	width:50%;
 }

 #droite {
	overflow:auto;
 }

.Card-Subtitle {
	font-size: 14px;
	font-weight: bold;
	color: #002b6c;
}

.Label {
	background-color: #002b6c;
	color: white;
	font-size: 12px;
	padding : 5px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.Card-Img {
	margin: 15px 0;
	width: 100%;
}

.Card-Paragraphe--Secondary {
	font-weight: bold;
}

.Card-Paragraphe {
	margin-bottom: 25px;
}

.Card-Paragraphe-Color {
	color:#e6007e;
}

.Tags-List {
	display: flex;
	font-weight: bold;
}

.Tags {
	color: #e6007e;
	font-style: italic;
}

.Img-Background{
	border-radius: 5px;
	margin: 30px 0;
	width: 100%;
	position: relative;
}

.Global-Absolute{
	position: absolute;
	top:0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content:space-evenly;
	color: white;
	width: 100%;
	height: 100%;
}

.Txt-Absolute {
	width: 50%;
	line-height: 1.3;
}

.Img-Absolute {
	width: 20%;
}

.Img-Map {
	margin-bottom: 20px;
}

/* <!-- Fin du Container-Left --> */

/* <!-- Début du Container-Right --> */
.Container-Right {
	padding-left: 70px;
}

.Card-Title-Right {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.Card-Event--Secondary {
	border-left-color: #7270f1;
}

.Card-Event--Tertiary {
	border-left-color: #7b290e;
}

.Card-Subtitle-Right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

.Label--1 {
	background-color: #649ef5;
}

.Label--2 {
	background-color: #3280f4;
}

.Label--3 {
	background-color: #1d1794;
}

.Label--4 {
	background-color: #2b4977;
}

.Label--5 {
	background-color: #227887;
}

.Label--6 {
	background-color: #761639;
}

.Label--7 {
	background-color: #f683dd;
}

.Label--8 {
	background-color: #6e335b;
}

/* <!-- Fin du Container-Right --> */

footer {
	background-color: #26272b;
	color: white;
	position: relative;
}

/* <!-- Début Footer-Top --> */

.Footer-Top {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}

.Footer-Top-Left {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	align-items: center;
}

.Items-Left {
	margin: 0 20px;
}

button.Items-Left {
	margin-right: 0;
}

.Items-Left1 {
	background-color: #3d3e45 ;
}

.Footer-Top-Right {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	padding-left: 20px;
	align-items: center;
	border-left: solid 1px #3d3e45;
}

/* <!-- Fin Footer-top -->
<!-- Debut Footer-bot --> */

.Footer-Bottom {
	display: flex;
	justify-content: center;
	padding: 15px 0;
	border-top: solid 1px #3d3e45;
	margin: 0 15%;
	height: 30px;
}

.Footer-Bottom-Left {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	align-items: center;
	border-right: solid 1px #3d3e45;
}

.Footer-Bottom-Right {
	width: 50%;
	display: flex;
	justify-content: start;
	padding-left: 20px;
	align-items: center;
}

.Item-Right {
	margin : 10px;
}

/* <!-- Fin footer-bot -->
<!-- item pour revenir en haut de page --> */

.Item-HDP {
    position: Absolute;
    right: 0;
    bottom: 35px;
    width: 50px;
}
